    .pop {
        position: fixed;
        width: 610px;
        height: 450px;
        top: 50%;
        left: 50%;
        margin-top: -215px;
        margin-left: -305px;
        z-index: 999;
        display: none;
    }
    
    .pop.active {
        display: block;
    }
    
    .pop .mask {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .1;
    }
    
    .pop .content {
        position: absolute;
        width: 556px;
        height: 440px;
        top: 5px;
        left: 5px;
        background: #fff;
        padding: 0 22px;
    }
    
    .pop .content .head {
        height: 40px;
        line-height: 40px;
        box-shadow: inset 0 -1px 0 0 #ddd;
    }
    
    .pop .content .header span {
        float: left;
        font-size: 14px;
        color: #333;
        font-weight: 700;
        line-height: 40px;
    }
    
    .pop .content .head a {
        float: right;
        width: 14px;
        height: 12px;
        margin-top: 14px;
        background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) -163px -93px no-repeat;
        cursor: pointer;
        color: #333;
        text-decoration: none;
        outline: 0;
    }
    
    .pop .content .body {
        width: 556px;
        height: 380px;
    }
    
    .pop .content .body p {
        font-size: 12px;
        color: #333;
        line-height: 20px;
    }
    
    .pop .content .body p:nth-of-type(3) a {
        color: #F60;
    }
    
    .pop .content .btn {
        display: block;
        width: 140px;
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
        text-align: center;
        background: #f60;
        font-size: 14px;
        color: #fff;
        margin: 0px auto;
        margin-top: -20px;
        cursor: pointer;
    }
    
    .header {
        width: 990px;
        height: 88px;
        margin: 0 auto;
        border-bottom: 3px solid #f90;
    }
    
    .header .logo {
        float: left;
        width: 190px;
        height: 100%;
        margin-right: 24px;
        background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) no-repeat;
    }
    
    .header .logoText {
        float: left;
        font-size: 18px;
        color: #666;
        line-height: 88px;
    }
    
    .header a {
        float: right;
        margin-top: 63px;
        color: #333;
    }
    
    .header a:hover {
        color: #F60;
    }
    
    .main {
        width: 990px;
        margin: 0 auto;
        border: 1px solid #ddd;
        border-top: none;
        background: #fff;
        padding: 55px 0;
        line-height: 1.5;
        position: relative;
    }
    
    .main form .formText {
        color: rgb(34, 34, 34);
        display: block;
        font-size: 12px;
        font-weight: 400;
        height: 327px;
        line-height: 18px;
        margin-bottom: 0px;
        margin-left: 305px;
        margin-right: 305px;
        margin-top: 0px;
        user-select: none;
        width: 380px;
    }
    
    .main form .lable {
        display: block;
        font-size: 14px;
        line-height: 17px;
        padding-left: 2px;
        margin-bottom: 17px;
    }
    
    .main form .lable span {
        color: #f40;
    }
    
    .main form .lable i {
        float: left;
        width: 19px;
        height: 17px;
        margin-right: 6px;
        background: url(https://res.suning.cn/project/srsregister/css/image/sprite.png?v=1541754766549) -75px -93px no-repeat;
    }
    
    label.error {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
        left: 305px;
        top: 160px;
    }
    
    label#password1-error {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
        left: 305px;
        top: 244px;
    }
    
    label#password-error {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
        left: 305px;
        top: 320px;
    }
    
    .main form .username {
        display: inline-block;
        width: 378px;
        height: 38px;
        font-size: 14px;
        color: #333;
        border: 1px solid gray;
        padding-left: 87px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 40px;
    }
    
    .main form .title {
        position: absolute;
        display: block;
        width: 76px;
        padding-left: 11px;
        height: 38px;
        z-index: 10;
        line-height: 38px;
    }
    
    .main form .alias {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
    }
    
    .main form .alias.hide {
        display: none;
    }
    
    .main form .password {
        display: inline-block;
        width: 378px;
        height: 38px;
        font-size: 14px;
        color: #333;
        border: 1px solid gray;
        padding-left: 87px;
        box-sizing: border-box;
        margin-bottom: 40px;
        position: relative;
    }
    
    .main form .alias1 {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
        left: 305px;
        top: 244px;
    }
    
    .main form .alias1.hide {
        display: none;
    }
    
    .main form .alias2 {
        height: 22px;
        line-height: 22px;
        margin: -25px 0 3px;
        color: red;
        position: absolute;
        left: 305px;
        top: 320px;
    }
    
    .main form .alias2.hide {
        display: none;
    }
    
    .main form .submit {
        width: 100%;
        line-height: 40px;
        background: #f60;
        font-size: 20px;
        color: #fff;
        margin: 24px 0 5px;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
    }